*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.4rem;
    background-image: url(img/background.jpg);
    background-repeat: repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(230, 230, 230);
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #1E2337;
    border-radius:0px 0px 30px 30px;
}

#bienvenue{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem;
}

#photoMoi{
    border-radius: 10px;
    margin-right: 3rem;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    padding-bottom: 3px;
    text-decoration: none;
    color: rgb(230, 230, 230);
}

nav a:hover
{
    color: #a70003;
    border-bottom: 3px solid #6900026b;
}
