*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@keyframes apparition {
    
    from {
        opacity: 0;
        transform: translateY(-300px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }

}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#bloc_page{
    width: 95%;
    margin: auto;
    font-size: 1.4rem;
    background-repeat: repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(230, 230, 230);
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #241d38d3;
    border-radius:0px 0px 30px 30px;
    margin-bottom: 50px;
}

#bienvenue{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

#photoMoi{
    border-radius: 10px;
    margin-right: 20rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    padding-bottom: 3px;
    text-decoration: none;
    color: rgb(230, 230, 230);
}

nav a:hover
{
    color: #a70003;
    border-bottom: 3px solid #6900026b;
}

section{
    text-align: center;
}

.mess{
    font-size: xx-large;
    margin-top: 35rem;
    margin-bottom: 45rem;
    animation: apparition 2s ease-out;
}

article{
    margin-bottom: 10rem;
}

#titre_G{
    padding: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: #1e2337d3;
    border-radius:10px;
    margin: right ;
    margin-left: 5rem;
    
}

#titre_D{
    padding: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    background-color: #1e2337d3;
    border-radius:10px;
    margin: left ;
    margin-right: 5rem;
}

.Text_pre{
    padding: 3rem;
    background-color: #291e3798;
    margin-left: 6.5rem;
    width: 70%;
    border-radius: 0px 0px 10px 10px;
    font-size: x-large;
}

#avatar{
    margin-right: 10px;
}

.cont_present{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

footer{
    background-color: #000;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 3rem;
    font-size: 1.3rem;
}